In [1]:
import pymongo

In [12]:
CLient= MongoClient('mongodb://127.0.0.1:27017')

In [13]:
from pymongo import MongoClient
from jsonschema import validate

student_schema = {
    "type": "object",
    "properties": {
        "student_id": {"type": "number"},
        "name": {"type": "string"},
        "email": {"type": "string"},
        "DOB": {"type": "string", "format": "date-time"},  
        "address": {"type": "string"},
        "phone": {"type": "number"}
    },
    "required": ["student_id", "name", "email", "DOB", "address", "phone"]
}

In [14]:

semester_schema = {
    "type": "object",
    "properties": {
        "semester_id": {"type": "number"},
         "semester_number": {"type": "number"},
        "start_date": {"type": "string", "format": "date-time"}, 
         "end_date": {"type": "string", "format": "date-time"}
       
    },
    "required": ["semester_id", "semester_number", "start_date", "end_date"]
}

In [15]:
exam_schema = {
    "type": "object",
    "properties": {
        "student_id": {"type": "number"},
        "semester_id": {"type": "number"},
        "exam_name": {"type": "string"},
        "marks": {"type": "number"},
        "grade": {"type": "string"}       
       
    },
    "required": ["student_id", "name", "email", "DOB", "address", "phone"]
}

In [17]:
from pymongo import MongoClient
from datetime import datetime



db = myclient['engineer']  
collection = db['students']

In [31]:
from pymongo import MongoClient
from datetime import datetime
from jsonschema import validate, ValidationError

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
db = myclient['engineer']  
collection = db['students'] 


student_schema = {
    "type": "object",
    "properties": {
        "student_id": {"type": "number"},
        "name": {"type": "string"},
        "email": {"type": "string"},
        "DOB": {"type": "string", "format": "date-time"},  
        "address": {"type": "string"},
        "phone": {"type": "integer"}
    },
    "required": ["student_id", "name", "email", "DOB", "address", "phone"]
}



def insert_student(student):
    try:
        validate(instance=student, schema=student_schema)
        
        result = collection.insert_one(student)
        
        print("Inserted student record with ID:", result.inserted_id)
    except ValidationError as e:
        print("Validation Error:", e)


student1 = {
    "name": "harshit rawat",
    "student_id":1,
    "email": "hr1@gmail.com",
    "DOB": "2002-10-14T00:00:00",  
    "address": "2122 alma street ",
    "phone": 8007738309
}

student2 = {
    "name": "mayank rawat",
    "student_id":2,
    "email": "myk@gmail.com",
    "DOB": "2000-02-01T00:00:00",  
    "address": "2450 sushant street",
    "phone": 9007738550
}

student3 = {
    "name": "akhilesh kunwar",
    "student_id":3,
    "email": "akhil2@gmail.com",
    "DOB": "2012-02-14T00:00:00",  
    "address": "2122 east street",
    "phone": 4407744380
}

student4 = {
    "name": "Somendra saini",
    "student_id":4,
    "email": "somi1@gmail.com",
    "DOB": "2000-10-24T00:00:00",  
    "address": "4488 west street ",
    "phone": 6004851380
}
student5 = {
    "name": "Shail sankar",
    "student_id":4,
    "email": "sss1@gmail.com",
    "DOB": "2000-10-24T00:00:00",  
    "address": "4488 west street ",
    "phone": 6999851380
}    


insert_student(student1)
insert_student(student2)
insert_student(student3)
insert_student(student4)
insert_student(student5)

Inserted student record with ID: 660f9aa7ab0010ec6b6c6efb
Inserted student record with ID: 660f9aa7ab0010ec6b6c6efc
Inserted student record with ID: 660f9aa7ab0010ec6b6c6efd
Inserted student record with ID: 660f9aa7ab0010ec6b6c6efe
Inserted student record with ID: 660f9aa7ab0010ec6b6c6eff

In [40]:

db = client["engineer"]

semester_collection = db["semester"]

semester_data = [
    {"semester_id": 1, "semester_number": 123456,"start_date":"2023-04-12","end_date": "2023-05-15"},
    {"semester_id":2,"semester_number":123457, "start_date": "2023-08-15", "end_date": "2023-12-15"},
    {"semester_id":3,"semester_number":123458, "start_date": "2023-09-15", "end_date": "2024-03-15"},
    {"semester_id":4,"semester_number":123459, "start_date": "2024-04-15", "end_date": "2024-07-15"},
    {"semester_id":5,"semester_number":123450, "start_date": "2023-08-15", "end_date": "2023-12-15"},
]


result = semester_collection.insert_many(semester_data)

print("Inserted IDs:", result.inserted_ids)
print(semester_data)

Inserted IDs: [ObjectId('660f9f80ab0010ec6b6c6f29'), ObjectId('660f9f80ab0010ec6b6c6f2a'), ObjectId('660f9f80ab0010ec6b6c6f2b'), ObjectId('660f9f80ab0010ec6b6c6f2c'), ObjectId('660f9f80ab0010ec6b6c6f2d')]
[{'semester_id': 1, 'semester_number': 123456, 'start_date': '2023-04-12', 'end_date': '2023-05-15', '_id': ObjectId('660f9f80ab0010ec6b6c6f29')}, {'semester_id': 2, 'semester_number': 123457, 'start_date': '2023-08-15', 'end_date': '2023-12-15', '_id': ObjectId('660f9f80ab0010ec6b6c6f2a')}, {'semester_id': 3, 'semester_number': 123458, 'start_date': '2023-09-15', 'end_date': '2024-03-15', '_id': ObjectId('660f9f80ab0010ec6b6c6f2b')}, {'semester_id': 4, 'semester_number': 123459, 'start_date': '2024-04-15', 'end_date': '2024-07-15', '_id': ObjectId('660f9f80ab0010ec6b6c6f2c')}, {'semester_id': 5, 'semester_number': 123450, 'start_date': '2023-08-15', 'end_date': '2023-12-15', '_id': ObjectId('660f9f80ab0010ec6b6c6f2d')}]

In [39]:
#7th question
db = client["engineer"]
exams_collection = db["exams"]


exam_data = [
    {"student_id": 1, "semester_id": "123456","exam_name":"english", "marks": 85,"grade":"A"},
    {"student_id": 2,"semester_id": "123456","exam_name":"english", "marks": 55,"grade":"B"},
    {"student_id": 3, "semester_id": "123458","exam_name":"hindi", "marks": 95,"grade":"A"},
    {"student_id": 4, "semester_id": "123457","exam_name":"math", "marks": 65,"grade":"A"},
    {"student_id": 5, "semester_id": "123450","exam_name":"physics", "marks": 85,"grade":"A"},
    {"student_id": 6, "semester_id": "123456","exam_name":"drawing", "marks": 85,"grade":"A"},
   
]

exams_collection.insert_many(exam_data)
print("Data inserted into 'exams' collection.")
print(exam_data)

Data inserted into 'exams' collection.
[{'student_id': 1, 'semester_id': '123456', 'exam_name': 'english', 'marks': 85, 'grade': 'A', '_id': ObjectId('660f9f7cab0010ec6b6c6f23')}, {'student_id': 2, 'semester_id': '123456', 'exam_name': 'english', 'marks': 55, 'grade': 'B', '_id': ObjectId('660f9f7cab0010ec6b6c6f24')}, {'student_id': 3, 'semester_id': '123458', 'exam_name': 'hindi', 'marks': 95, 'grade': 'A', '_id': ObjectId('660f9f7cab0010ec6b6c6f25')}, {'student_id': 4, 'semester_id': '123457', 'exam_name': 'math', 'marks': 65, 'grade': 'A', '_id': ObjectId('660f9f7cab0010ec6b6c6f26')}, {'student_id': 5, 'semester_id': '123450', 'exam_name': 'physics', 'marks': 85, 'grade': 'A', '_id': ObjectId('660f9f7cab0010ec6b6c6f27')}, {'student_id': 6, 'semester_id': '123456', 'exam_name': 'drawing', 'marks': 85, 'grade': 'A', '_id': ObjectId('660f9f7cab0010ec6b6c6f28')}]

In [51]:
#8 th question
import pymongo
client= pymongo.MongoClient("mongodb://localhost:27017/")
db=client["engineer"]
exams_collection=db["exams"]

query={'student_id':1}
student_exams = exams_collection.find(query)


print(f"All exams for student with ID {student_id}:")
for exam in student_exams:
    print(exam)

All exams for student with ID 1:
{'_id': ObjectId('660f9da4ab0010ec6b6c6f12'), 'student_id': 1, 'subject': 'Math', 'score': 85}
{'_id': ObjectId('660f9da4ab0010ec6b6c6f13'), 'student_id': 1, 'subject': 'Physics', 'score': 78}
{'_id': ObjectId('660f9da4ab0010ec6b6c6f14'), 'student_id': 1, 'subject': 'Chemistry', 'score': 90}
{'_id': ObjectId('660f9f6dab0010ec6b6c6f1d'), 'student_id': 1, 'semester_id': '123456', 'exam_name': 'english', 'marks': 85, 'grade': 'A'}
{'_id': ObjectId('660f9f7cab0010ec6b6c6f23'), 'student_id': 1, 'semester_id': '123456', 'exam_name': 'english', 'marks': 85, 'grade': 'A'}

In [54]:
#9th question
db=client["engineer"]
exams_collection=db["exams"]
pipeline = [
    {"$group": {"_id": None, "max_marks": {"$max": "$score"}}}
]

# Execute the aggregation pipeline
result = exams_collection.aggregate(pipeline)

# Extract the maximum marks from the result
max_marks = list(result)[0]["max_marks"]

# Print the result
print("Highest marks obtained in exams:", max_marks)

Highest marks obtained in exams: 92

In [55]:
#10 th question 
threshold_score = 85

# Query to find exams with marks greater than 85
query = {"score": {"$gt": threshold_score}}
exams_greater_than_85 = exams_collection.find(query)

print("Exams with marks greater than 85:")
for exam in exams_greater_than_85:
    print(exam)

Exams with marks greater than 85:
{'_id': ObjectId('660f9da4ab0010ec6b6c6f14'), 'student_id': 1, 'subject': 'Chemistry', 'score': 90}
{'_id': ObjectId('660f9da4ab0010ec6b6c6f15'), 'student_id': 2, 'subject': 'Math', 'score': 92}
{'_id': ObjectId('660f9da4ab0010ec6b6c6f16'), 'student_id': 2, 'subject': 'Physics', 'score': 88}

In [56]:
#11 th question

db = client["engineer"]
exams_collection = db["exams"]
pipeline = [
    {"$group": {"_id": None, "total_marks": {"$sum": "$score"}}}
]

result = exams_collection.aggregate(pipeline)

# Extract the total marks from the result
total_marks = list(result)[0]["total_marks"]

# Print the result
print("Total marks obtained in all exams:", total_marks)

Total marks obtained in all exams: 518

In [57]:
#12 th questions
pipeline = [
    {"$group": {"_id": "$semester", "max_score": {"$max": "$score"}, "student_id": {"$first": "$student_id"}}},
    {"$project": {"_id": 0, "semester": "$_id", "max_score": 1, "student_id": 1}}
]

result = exams_collection.aggregate(pipeline)

# Print the result
print("Students with the highest marks in each semester:")
for doc in result:
    print(doc)

Students with the highest marks in each semester:
{'max_score': 92, 'student_id': 1, 'semester': None}